name: ci

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Running auth tests
        run: go test -cover -v ./internal/auth

      - name: Install gosec
        run: go install github.com/securego/gosec/v2/cmd/gosec@latest

      - name: Running gosec
        run: gosec ./...
          
  style:
    name: Style
    runs-on: ubuntu-latest
    steps:

      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"
      
      - name: Check if style passed
        run: test -z "$(go fmt ./...)"

      - name: Linter
        uses: dominikh/staticcheck-action@v1
        with:
          version: "latest"